[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kubelet
Wants=network-online.target
After=network-online.target containerd.service
Requires=containerd.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/bin/kubelet
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
